.heroseclayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92.5vh;
  /* background-color: #f5f5f5; */
  font-family: "Inter", sans-serif;
}
.heroseccontainer {
  width: 100%;
  margin-bottom: 5rem;
}
.herosectext {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.herosectext h1 {
  font-weight: 500;
  color: var(--primary-white);
}
.herosectext h2 {
  font-weight: 500;
  color: var(--primary-gray);
}
.herosectagly {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  padding: 0.7rem 0;
}
.herosectag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-white);
  animation: pulse 3s ease infinite;
}
.herosectag h1 {
  color: var(--primary-white);
  font-size: 1.3rem;
  font-weight: 500;
}
@keyframes pulse {
  0% {
    border-radius: 50%;
  }
  50% {
    border-radius: 0%;
  }
  100% {
    border-radius: 50%;
  }
}
