:root {
  --primary-black: #171716;
  --primary-white: #f9f9f9;
  --primary-gray: #5a5757;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-black);
}
